form {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  margin: auto;
  width: 500px;
  border: 1px solid white;
  border-radius: 5%;
  /* color: #9c4e4e; */
  box-shadow: 0px 0px 10px 5px yellow;
}

.btn {
  font-weight: 600;
}

label {
  color: white;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

input[type="text"]::placeholder {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

input[type="email"]::placeholder {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

textarea::placeholder {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

form input,
form textarea {
  margin-bottom: 1rem;
  padding: 10px 18px;
  font-size: 1.2rem;
  background-color: lightgray;
  font-weight: 600;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
  /* background-color: rgb(186, 144, 102); */
}

/* .form-container h1 {
  color: #9c4e4e;
} */

/* .title1 {
  font-size: 10px;
} */

.Contact-title{
  font-size:80px;
}

@media screen and (max-width: 1040px) {
  .form-container {
    padding-top: 5rem;
  }

  form {
    width: 300px;
  }
  input[type="text"]::placeholder {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  input[type="email"]::placeholder {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  textarea::placeholder {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.form1 {
  overflow-y: auto;
  background-color: rgb(5, 7, 20);
}
