.card-list {
  height: 600px;
  position: relative;
  margin: 0;
}
.card-list.img {
  height: 800%;
  display: block;
  width: 100%;
}

.img img {
  height: 500px;
}

.title {
  font-weight: 600;
}
